@import './variables.css';

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--backgroundColor1);
  /* color: var(--primary); */
}

body.company-setup-background {
  background-color: var(--backgroundColor2);
}

.display {
  font-size: var(--display-size);
}

.title {
  font-size: var(--title-size);
}

.headline-small {
  font-size: var(--headline-small-size);
}

.body-medium {
  font-size: var(--body-medium-size);
  font-weight: var(--body-medium-weight);
}

.input-field-title {
  font-size: var(--form-titles);
  color: rgb(0, 0, 0, 0.6);
}