.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    width: 600px;
}

.image-container {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100px;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-70);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
    color: var(--onSecondary);
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: calc(100% - 100px);
}