.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-right: 50px;
    position: relative;
    width: 100vw;

    padding-bottom: 20px;
}

.header-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.web-header {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Inria Serif', serif;
}

.header-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
