<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Outcomes</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!--navigation original work-->
<div class="header">
    <div class="text">
      <a href="/" class="index_nav"><h1>Tracking tickets by event for Gill Coliseum</h1></a>
        <nav>
            <a href="events" class="nav_button">Events</a>
            <a href="eventOutcomes" class="selected_nav_button">Event Outcomes</a>
            <a href="eventoutcomesteams" class="nav_button">Event Outcomes Teams</a>
            <a href="teams" class="nav_button">Teams</a>
            <a href="tickets" class="nav_button">Tickets</a>
            <a href="ticketTypes" class="nav_button">Ticket Types</a>
            <a href="ticketHolders" class="nav_button">Ticket Holders</a>
        </nav>
    </div>
  </div>

<div class="entities">
      <!--Citation: Structure of python if and for statements, and table copied from flask starter app for CS340 accessed 7/25/23
      Source URL https://github.com/osu-cs340-ecampus/flask-starter-app/blob/master/bsg_people_app/templates/people.j2
    -->
    <div id="browse">
    <h2>Event Outcomes</h2>
    <table border="1" cellpadding="5">
      {% if eventOutcomesData %}
          <thead>
            <tr>
              <th></th>
              <th></th>
              <!-- Iterate through each key in the first entry to get the column name -->
              {% for key in eventOutcomesData[0].keys() %}
					    
              <!-- Create a <th> tag with the key inside of it, for the rest of the header row -->
              <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

              <!-- End of this for loop -->
              {% endfor %}
            </tr>
        </thead>
        <tbody>
          <tr>
            <!-- Now, iterate through every item in data -->
            {% for item in eventOutcomesData %}
                <td><a href="/updateEventOutcome/{{item.eventOutcomeID}}" class="CRUD">Edit</a></td>
                <td><a href="/deleteEventOutcome?eventOutcomeID={{ item.eventOutcomeID }}&eventID={{ item.eventID }}" class="CRUD">Delete</a></td> 
						    <!-- Then iterate through every key in the current item dictionary -->
                {% for key in item.keys() %}
						      <!-- Create a <td> element with the value of that key in it -->
						      <td> {{item[key]}} </td> 
				        {% endfor %} 
          </tr>
		        {% endfor %} 
        </tbody>
      {% endif %} 
    </table>
    <p>&nbsp;</p>
    </div> <!-- browse -->

    <div id="insert">
    <form method="POST" id="addEventOutcomeForm" action="/eventOutcomes">
    <!-- Citation for jump link structure: https://blog.hubspot.com/marketing/jump-link-same-page. Accessed 8/3/2023 -->
      <a href="#add_event_outcome_form"></a>
      <legend class="table_header"> Add Event Outcome and Event Outcome Teams to Event without Existing Outcome </legend>
        <fieldset class="fields">
            <label class="required"> Game Played on: </label> 
            <select name="eventDateDropdown" id="eventDateDropdown" placeholder="" pattern="[0-4]{1}" required>
                <!-- Event Dates from eventsData tuple -->
                <option value="" disabled selected>-Select an event-</option>
                {% for availEvent in availableEventsData %}
                  {% for anEventDate in eventsData %}
                    {% if anEventDate['eventID'] == availEvent['eventID'] %}
                      <option value="{{ anEventDate['eventID'] }}"> {{anEventDate['startDateTime']}} with {{anEventDate['visitingTeam']}}</option> 
                    {% endif %}
                  {% endfor %}
                {% endfor %}
            </select>
            <br>
            <br>
            <label class="required"> Winning Team: </label> 
            <select name="winningTeamDropdown" id="winningTeamDropdown" placeholder="" required>
                <!-- Populate all teams from database -->
                    <option value="" disabled selected>-Select a team-</option>
                {% for aTeam in teamsData %}
                    <option value="{{aTeam['teamID']}}"> {{aTeam['teamName']}}</option>
                {% endfor %}
            </select>
            <br>
            <label class="required"> Losing Team: </label> 
            <select name="losingTeamDropdown" id="losingTeamDropdown" placeholder="" required>
                <!-- Populate all teams from database -->
                    <option value="" disabled selected>-Select a team-</option>
                {% for aTeam in teamsData %}
                    <option value="{{aTeam['teamID']}}"> {{aTeam['teamName']}}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <label class="required"> Winning Score: </label> 
            <input type="number" pattern="[0-9]" name="winningScore" id="winningScore" placeholder="0" required>
            <br>
            <label class="required"> Losing Score: </label> 
            <input type="number" pattern="[0-9]" name="losingScore" id="losingScore" placeholder="0" required>
            <br>
        </fieldset>
        <br>
        <input class="btn" type="submit" id="addEventOutcome" value="Add Event Outcome" name="addEventOutcome">
    </form> 
    <p>&nbsp;</p>
</div><!-- insert -->
  </div>
</body>
<footer>
  &copy;2023 Juanette van Wyk & Cara Walter 
</footer>
</html>