<!-- Citation: 
Structure copied from Class lecture file bsg_HTML_UI.zip in CS340 accessed 7/20/23
      Source URL https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ticket</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />

    <script>
        // JavaScript function to update the hidden input with the selected ticket holder ID
        function updateTicketHolderID(selectedID) {
          document.getElementById("ticketHolderID").value = selectedID;
          document.getElementById('idDisplay').innerHTML = selectedID;
        }
    </script>
</head>

<body>
    <div class="header">
    <div class="text">
        <a href="/" class="index_nav"><h1>Tracking tickets by event for Gill Coliseum</h1></a>
            <nav>
                <a href="events" class="nav_button">Events</a>
                <a href="eventOutcomes" class="nav_button">Event Outcomes</a>
                <a href="eventoutcomesteams" class="nav_button">Event Outcomes Teams</a>
                <a href="teams" class="nav_button">Teams</a>
                <a href="tickets" class="nav_button">Tickets</a>
                <a href="ticketTypes" class="nav_button">Ticket Types</a>
                <a href="ticketHolders" class="nav_button">Ticket Holders</a>
            </nav>
        </div>
    </div>

    <div class="entities">
        <!--Structure copied from Class lecture file bsg_HTML_UI.zip in CS340 accessed 7/20/23
      Source URL https://canvas.oregonstate.edu/courses/1922991/pages/exploration-web-application-technology?module_item_id=23329626-->

        <div id="insert">
            <form method="POST" id = "searchTicketHolder">
                <fieldset class="fields">
                <legend class="table_header"> Search Ticket Holder Name </legend>
                    Search a ticket holder name to assign ticket to a specific ticket holder or leave blank for none.
                    <br><br>
                    <label> First Name: </label> <input type="text" name="firstName" required> <br>
                    <label> Last Name: </label> <input type="text" name="lastName" required>
                  <br>
                    <input class="btn" type="submit" name="searchTicketHolder" value="Search"> 
                  <br>
                    <div id="searchResults">
                        {% if searchData %}
                            <h3>Search Results:</h3>
                            <table border="1" cellpadding="5">
                                <thead>
                                    <tr>
                                        <th scope="col">Ticket Holder ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in searchData %}
                                    <tr>
                                        <td>{{ item['ticketHolderID'] }}</td>
                                        <td>{{ item['firstName'] }}</td>
                                        <td>{{ item['lastName'] }}</td>
                                        <td>
                                            <button class="CRUD" type="button" onclick="updateTicketHolderID('{{ item['ticketHolderID'] }}')">Select</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            {% if noResults %}
                                <h3>Search Results:</h3>
                                <p>No results found for the provided name.<br> If you want to add a ticket for this name, please go add your name under <a href="/ticketHolders">Ticket Holders</a>.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </fieldset>
            </form> 

          <form method="POST" id="addTicketForm">
                <fieldset class="fields">
                <legend class="table_header"> Add Ticket </legend>
                   <label> Ticket Holder ID: </label>
                   <label id="idDisplay"></label>
                   <input type="hidden" name="ticketHolderID" id="ticketHolderID" value="">
                    <br><br>
                  <label class="required"> Event: </label> 
                    <select name="eventID" id="eventID" placeholder="" required>
                        <option value="" disabled selected>-Select an event-</option>
                      {% for aEvent in eventsData%}
                        <option value="{{aEvent['eventID']}}"> Playing {{aEvent['visitingTeam']}} on {{aEvent['startDateTime']}}</option>
                      {% endfor %}  
                    </select>
                  <br>
                  <br>
                  <label class="required"> Ticket Type: </label> 
                    <select name="ticketTypeDropdown" id="ticketTypeDropdown" placeholder="" required>
                            <option value="" disabled selected>-Select an ticket-</option>
                        {% for aTicketType in ticketTypeData %}
                            <option value="{{ aTicketType['ticketTypeID'] }}"> {{ aTicketType['ticketType'] }} (${{ aTicketType['price'] }})</option>
                        {% endfor %} 
                    </select>
            </fieldset>
            <br>
                <input class="btn" type="submit" id="addTicket" name="addTicket" value="Add Ticket">
          </form> 
        </div><!-- insert -->

</body>
<footer>
  &copy;2023 Juanette van Wyk & Cara Walter 
</footer>
</html>